.select-page {
  background-color: rgba(211, 211, 211, 0.5);
  padding: 2rem;
  border: 1px solid rgba(169, 169, 169, 0.5);
  border-radius: 0.5rem;
}

.order-form {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 6rem 8rem;
  column-gap: 1rem;
  row-gap: 1rem;
}

#search-movies {
  height: 3rem;
  grid-column-start: 1;
  grid-column-end: 3;
}

#search-movies:hover {
  background-color: gray;
}

select, input[type=number], button {
  padding: 0 0 0 0.3rem;
  background-color: lightgray;
  border-radius: 0.2rem;
  border: none;
}
